
.header{
    width: 100%;
    height: 17%;
    background-color: #fff;
}

.rightBar{
    width: 15%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #822433;
}

.leftBar{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #822433;
}

.logo{
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 5%;
    margin-top: 5px;
    background: url("../LOGHI/logo_con_testo_accanto_bordeaux.png");
}

.profile{
    background-color: #822433;
    color: #fff;
    width: 6%;
    height: 70%;
    margin-top: 1%;
    margin-right: 3%;
    font-size: xx-large;
    float: right;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    transition: .3s linear;
}
.profile:hover{
    border-radius: 30%;
}

.ricerca{
    width: 30%;
    height: 40%;
    margin-top: 3%;
    margin-right: 5%;
    float: right;
    
}
.icona{
    height: 100%;
    width: 11%;
    font-size: x-large;
    border-radius: 50%;
    float: right;
    background-color: #822433;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: .3s linear;
}
.icona:hover{
    border-radius: 30%;
}

.testo{
    height: 100%;
    width: 82%;
    border-radius: 20px;
    border-color: #822433;
}
/*togliere dalla scelta delle materie il riquadro blu intorno*/
.testo:focus{
    outline: none;
}
.select-items{
    color: #822433;
}
.core{
    width: 70%;
    margin-left: 15%;
    height: 100%;
    background-color: #fff;
    
}

/* grid per post*/
.spazioPost{
    width: 70%; 
    height: fit-content; 
    margin:0 auto
}


.post {
    display: grid;
    width: 100%;
    margin: 0 auto;
    background-color: #822433;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 5%;
    }
    
.titolo { grid-area: 1 / 1 / 3 / 7; 
    background-color: #822433; 
}
    
.autore { grid-area: 1 / 7 / 3 / 11; 
    background-color: red; 
}

.linea { grid-area: 3 / 1 / 4 / 11; 
    background-color: lightblue;
}

.testoPost { grid-area: 4 / 1 / 8 / 11; 
    background-color: violet;
    overflow-wrap: break-word;
}

.doc { grid-area: 8 / 10 / 9 / 11; 
    
}
.data { grid-area: 8 / 1 / 9 / 4; 
    
}

.attache{
    background-color: #822433;
    border-radius: 50%;
    width: 50%;
    color: #fff;
    font-size: xx-large;
    text-align: center;
    height: 100%;
    float: right;
}


.line {
    border-top: 3px solid orange;
    border-radius: 50%;
    margin-bottom: 2%;
    width: 50%;
    margin: 0 auto;
}

.timestamp{
    background-color: aqua;

}

.btn-follow{
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: #fff;
    border: #822433;
    color: #822433;
    
}

.follow:hover{
    background-color:  #822433;
    color:#fff;
}
