
.header{
    
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
   
    
}

.rightBar{
    width: 15%;
    border-radius: 10px;
    margin-right: 15px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #822433;
    box-shadow: 0 30px 50px 0 rgba(130,36,51, 0.3), 0 30px 50px 0 rgba(90, 35, 45, 0.2);
}

.leftBar{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
    background-color: #822433;
    margin-left: 15px;
    box-shadow: 0 30px 50px 0 rgba(130,36,51, 0.3), 0 30px 50px 0 rgba(90, 35, 45, 0.2);
}

.logo{

    float: left;
    margin-left: 5%;
    margin-top: 5px;
    background: url("../LOGHI/logo_con_testo_accanto_bordeaux.png");
}

.profile{
    background-color: #822433;
    margin-left: 10px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    font-size: xx-large;
    float: right;
    text-align: center;
    line-height: 90px;
    transition: .3s linear;
    border-radius: 10px;
}
.profile:hover{
    border-radius: 50%;
}

.ricerca{
    
    margin-right: 70px;
    margin-top: 3%;
    
}
.icona{
    height: 100%;
    width: 11%;
    font-size: x-large;
    border-radius: 50%;
    float: right;
    background-color: #822433;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: .3s linear;
}
.icona:hover{
    border-radius: 30%;
}

.testo{
    width:100%;
    height:35px;
    font-size: large;
    border-radius: 50px;
    padding: 10px;
    border-color: #822433;
}
.prova{
    width: 100%;
}
/*togliere dalla scelta delle materie il riquadro blu intorno*/
.testo:focus{
    outline: none;
}
.core{
    width: 70%;
    margin-left: 15%;
    height: 100%;
    
}

/* grid per post*/
.spazioPost{
    width: 70%; 
    height: fit-content; 
    margin:0 auto;

}
.containerErrore{
    width:100%;
    height: fit-content;
    border-radius: 10px;
    background-color: #822433;
    padding: 20px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.151), 0 10px 20px 0 rgba(0, 0, 0, 0.151);
    color:white;
    
    
}

.post {
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 3px;
    margin-left: 70px;
    
    background-color: #822433;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 5%;
    border-radius: 5px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.151), 0 10px 20px 0 rgba(0, 0, 0, 0.151);
    
    
    
    }
.containerTitolo
{
    width:100% ;
    height:fit-content ;
    background-color:#822433;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    color: #fff;

    
}
    
.titolo { grid-area: 1 / 1 / 3 / 7; 
    background-color: white; 
    padding: 10px;

}
    
.autore { grid-area: 1 / 7 / 3 / 11; 
    background-color:white; 
    padding: 15px;
    
}

.linea { grid-area: 3 / 1 / 4 / 11; 
    background-color: white;
}

.testoPost { grid-area: 4 / 1 / 8 / 11; 
    background-color:white;
    overflow-wrap: break-word;
    height: fit-content;
    padding: 10px;
    
}

.doc { grid-area: 8 / 10 / 9 / 11;
    
    margin-top: 0px; 
    
}
.data { grid-area: 8 / 1 / 9 / 4; 
    margin-top: 0px;
    
}
.download{
    text-decoration: none;
}
.download:hover{
    text-decoration: none;
}

.attache{
    background-color: #822433;
    width: 50%;
    color: #fff;
    font-size: small;
    text-align: left;
    margin-top: 3%;
    height: fit-content;
}


.line {
    border-top: 2px solid #822433;
    border-radius: 50%;
    margin-bottom: 2%;
    width: 80%;
    margin: 0 auto;
}



.btn-follow{
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: #fff;
    border: #822433;
    color: #822433;
    border-radius: 10px;
    cursor: pointer;
    
}


