
 body{
    
 }
.header{
    width: 100%;
    height: 17%;
    background-color: #fff;
}

.rightBar{
    width: 15%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #822433;
}

.leftBar{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #822433;
}

.logo{
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 5%;
    margin-top: 5px;
    background: url("../LOGHI/logo_con_testo_accanto_bordeaux.png");
}

.profile{
    background-color: #822433;
    color: #fff;
    width: 6%;
    height: 70%;
    margin-top: 1%;
    margin-right: 3%;
    font-size: xx-large;
    float: right;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    transition: .3s linear;
}
.profile:hover{
    border-radius: 30%;
}

.ricerca{
    width: 30%;
    height: 40%;
    margin-top: 3%;
    margin-right: 5%;
    float: right;
    
}
.icona{
    height: 100%;
    width: 11%;
    font-size: x-large;
    border-radius: 50%;
    float: right;
    background-color: #822433;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: .3s linear;
}
.icona:hover{
    border-radius: 30%;
}

.testo{
    height: 100%;
    width: 82%;
    border-radius: 20px;
    border-color: #822433;
}
.core{
    width: 70%;
    margin-left: 15%;
    height: 100%;
    background-color: #fff;
    
}

/*
.parent {
    display: grid;
    width: 70%;
    background-color: #822433;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
    
.div1 { grid-area: 1 /1/ 2 /4;
    width: fit-content;
    background-color: green; 
}
.div2 { grid-area: 1 / 4 / 2 / 6; 
    
    background-color: blue;
}
.div3 { grid-area: 2 / 1 / 3 / 6; 
    width: fit-content;
    background-color: aqua;
}
.div4 { grid-area: 3 / 1 / 4 / 6; 
    width: fit-content;
    background-color: brown;
}
.div5 { grid-area: 4 / 5 / 5 / 6; 
    background-color: chartreuse;
}


.parent {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 7;
    background-color: #822433; 
}
.div2 { grid-area: 1 / 7 / 2 / 11; 
    background-color: red; 
}
.div3 { grid-area: 2 / 1 / 3 / 11; 
    background-color: blue;
}
.div4 { grid-area: 3 / 1 / 4 / 11; 
    background-color: violet;
}
.div5 { grid-area: 4 / 10 / 5 / 11;
    background-color: pink;
}
*/
.parent {
    display: grid;
    width: 70%;
    background-color: #822433;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 1 / 3 / 7; 
    background-color: #822433; 
}
    
.div2 { grid-area: 1 / 7 / 3 / 11; 
    background-color: red; 
}

.div3 { grid-area: 3 / 1 / 4 / 11; 
    background-color: lightblue;
}

.div4 { grid-area: 4 / 1 / 8 / 11; 
    background-color: violet;
    overflow-wrap: break-word;
}

.div5 { grid-area: 8 / 9 / 10 / 11; 
    background-color: pink;
}
.div6 { grid-area: 9 / 1 / 10 / 3; 
    background-color: yellow;
}