.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*logo all'interno dei login*/
.login-logo{
    position: relative;
    margin-left: -41.5%;
}

.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #822433;
    border-radius: 4.5rem;
    padding: 5%;
}
/*colore dei type text bordeaux*/
.form-sapienza{
    color: #fff;
    background:#822433; 
}
/*forma e colore login*/
.login-form-1{
    padding: 9%;
    background:#822433;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    background: #fff;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
/*bottone sdoppiato per negativo dei login*/
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #fff;
    background-color: #822433;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}

.btnSubmitligth{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
/*forget pw sdoppiato per negativo dei login*/
.btnForgetPwdligth{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwdligth:hover{
    text-decoration:none;
    color:#fff;
}

.btnForgetPwd{
    color: #822433;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#822433;
}
/*cambia il colore del placeholder al login dei docenti*/
input[id="emailplace"]::-webkit-input-placeholder{
    color: #fff;
}
input[id="passplace"]::-webkit-input-placeholder{
    color: #fff;
}