.container-password
{
   
    width: fit-content;
    margin-top: 150px;
    height: fit-content;
    padding: 20px;
    border-radius: 6px;
    background-color:#ffffff;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.3), 0 30px 50px 0 rgba(0, 0, 0, 0.2);
}