.copertina{
    height: 250px;
    background-image: url("/assets/img/prova_sfondo.jpg");
}
.circle {
    width: 250px;
    height: 250px;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    background: #ffffff;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.dati{
    width: 70%;
    height:fit-content; 
    float: right;
    margin-right: 2%;
    margin-top: 5%;
    color:#822433;  
    border-radius: 6px;
    box-shadow: 0 30px 50px 0 rgba(130,36,51, 0.3), 0 30px 50px 0 rgba(130,36,51, 0.2);

}

.datiuni{
    width: 70%;
    height:fit-content; 
    float: right;
    margin-right: 2%;
    margin-top: 10%;
    color:#822433;  
    border-radius: 6px;
}

.inserimento{
    float: left;
    margin-left: 10%;
}

.immagini{
    height: 80%; 
    margin-top: 5%;
    margin-left: 2%;
    width: 25%; 
    float: left;
}

div.card{
    width: 40%;
    height: fit-content;
    margin:  0 auto;
    border-style:hidden;
}
.titolo{
    font-weight: bold;
    font-size: x-large;
}
hr.card{
    background-color:#822433;
    width:50%;
    margin-top: -5%;
    height: 1px;
    border-radius: 30%;
    
}
.line {
    border-top: 3px solid #822433;
    border-radius: 50%;
    margin-top: -7%;
    margin-bottom: 2%;
    width: 200px;
}
.valore{
    color: black;
    font-size: large;
    
}

.footer{
    height: 200px;
    background-color: #822433;
}

h2.tit{
    color: #822433;
    text-align:  center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*finestra che entra*/
.sidenav {
    height: 100%;
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: small;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 15%;
    text-decoration: none;
    text-align: center;
  }
  .riga{
      width: 100%;
      height: 7%;
      margin-bottom: 5%;
  }
.casella{
    width: 10%; 
    height: 100%; 
    float: left;
}
.nome{
    width: 90%; 
    height: 100%; 
    float: left; 
    font-size:small;
}
 
.datiCorso{
    width: 70%;
    height:90%; 
    margin: 0 auto;
    color:#822433;  
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 30px 50px 0 rgba(130,36,51, 0.3), 0 30px 50px 0 rgba(130,36,51, 0.2);

}
.descrizione{
    width: 70%;
    height: 20%;
    margin: 0 auto;
}
.anni{
    width: 70%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
}
.annoDidattico{
    text-decoration: none;
    color: #822433;

}
.annoDidattico:hover{
    text-decoration: none;
    color: #822433;
}